.CodeMirror {
    min-height:100vh;
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
    min-width:100vw;
}

select {
    margin-bottom: 10px;
    display: block;
  }
  
label {
    display: block;
    margin-bottom: 5px;
  }

@media only screen and (min-width: 720px) and (max-width: 1023px) {
    .CodeMirror {
        min-height: calc(100vh - 3.25rem);
        
    }
}

@media only screen and (min-width:1024){
    .CodeMirror{
        min-height: calc(100vh - 7.5rem);
        min-width: calc(100vw - 12rem);
    }
}